extends base

block content 

  main.main
    .forgotPassword-form
      h2.heading-secondary.ma-bt-lg forgot password 
      form.form.form--forgotPassword
        .form__group
          label.form__label(for='forgotPasswordForm') Email address
          input#forgotPasswordForm.form__input(type='email', placeholder='you@example.com', required)
          button.btn.btn--green.resetPassword Reset Password 
